.wish{
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 50px;
}
.wish h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 30px;
}
