/* CartPage.css */
.cart-page {
    padding: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
}

.cart-item-info {
    display: flex;
    flex-direction: column;
}

.cart-item-info button {
    margin-top: 10px;
}
.btn3{
  background-color:  grey;
  border: none;
  color: white;
  font-size: 15px;
}
.btn3:hover{
    background-color:  #1363DF;
}
.btn4{
    background-color:  white;
    border: none;
    color: black;
    padding-top: 10px;
    padding-bottom: 8px;
    margin-left: -30px;
    border-radius: 6px;
}
.btn4:hover{
    background-color:  none;
}
.btn5{
    background-color:  rgba(128, 128, 128, 0.705);
    border: none;
    color: black;
    padding-top: 10px;
    padding-bottom: 8px;
    border-radius: 6px;
}
.btn5:hover{
    background-color:  #1363DF;
}
.cart-item-info{
    padding-top: 20px;
}
.cart-item-info h3{
     font-size: 17px;
     margin-top: 40px;
}
.cart-item-info span{
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
}
.quantity-controls{
    padding-left: 30px;

}
.remove{
    margin-top: 150px;
    align-items: right;
    padding-top: 20px;
    margin-left: -230px;
}
.cart-item{
    background-color: white;
    border-radius: 8px;
    padding-bottom: 20px;
    padding-left: 10px;
}
.bck{
    padding-top: 30px;
    color: black;
}
.bck:link{
        text-decoration: none;
}
.cart-total{
    padding-top: 20px;
    padding-bottom: 10px;
}
.cart-checkout{
    padding-bottom: 20px;
}