.profile{
    padding-top: 5%;
    padding-bottom: 70px;
}
.profile-info{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.loading-spinner{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
}
.loading-spinner img{
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}