.about{
    padding-bottom: 190px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .about h1{
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
  }.about h3{
    font-size: 18px;
    text-align: center;
  }