
.fum {
    padding: 20px;
    
  }
  
  .gender{
    margin-top: 70px;
    padding-bottom: 50px;
    padding-left: 80px;
  }
  .gender h1{
    font-weight: 700;
    font-size: 50px;
  }
  .gender h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
  }
  .product-card-img{
    height: 200px;
    width: 280px;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding-left: 90px;
    justify-content: center;
    
  }
  
  .product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    width: 280px;
  }
  
  .product-card:hover {
    transform: scale(1.02);
  }
  
  
  
  .product-card .card-body {
    padding: 15px;
    text-align: center;
  }
  
  .product-card .card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .product-card .card-text {
    font-size: 1rem;
    color: #555;
  }
  
  .stock {
    font-size: 0.9rem;
    color: #4CAF50;
    margin-bottom: 10px;
  } 
  
  .but {
    margin-top: 10px;
    background-color:  grey;
    color: aliceblue;
    padding-right: 40px;
    padding-left: 40px;
  }
  .detail-button{
    margin-top: 10px;
    background-color:  grey;
    font-size: 20px;
    color: aliceblue;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 140px;
    padding-left: 140px;
  }
  #detail{
    margin-bottom: 150px;
   }

  
  
  @media (max-width: 1024px) {
    .product-grid {
      grid-template-columns: repeat(2, 1fr);
      padding-right: 20px;
        padding-left: 30px;
    }
  }
  
  @media (max-width: 768px) {
    .product-grid {
      grid-template-columns: repeat(2, 1fr);
      padding-left: 10px;
      padding: 80px;
      gap: 15px ;
    }
  
    .fum {
      padding: 0 10px;
    }
    
    .scoot h1 {
      font-size: 1.5rem;
    }
    .product-card {
      border: 1px solid #ddd;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      transition: transform 0.3s ease;
      width: 180px;
      display: flex;
    justify-content: center; 
    align-items: center;
    }
  
    .product-card .card-body {
      padding: 10px;
    }
  
    .product-card .card-title {
      font-size: 1rem;
    }
  
    .product-card .card-text {
      font-size: 0.9rem;
    }
    .product-card-img{
      height: 140px;
        width: 180px;
      }
  
    .stock {
      font-size: 0.8rem;
    }
  
    .but {
    
      margin-top: 10px;
      font-size: 14px;
      background-color:  grey;
      color: aliceblue;
      padding-right: 30px;
      padding-left: 30px;
    
    }
    .detail-button{
      margin-top: 10px;
      background-color:  grey;
      font-size: 20px;
      color: aliceblue;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-right: 100px;
      padding-left: 100px;
    }
  }
  