section{
  background-image: url(/images/bg2.jpg);
  background-repeat: no-repeat;
  min-height: 700px;
  background-size: cover;
  background-position: center;
  color: white;
  padding-bottom: 300px;
 display: flex;
 justify-content: start;
 padding:70px 70px;
 flex-direction: column;
 gap: 60px;
  
}
section h1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 60px;
}
.sec{
  padding-top: 80px;
  margin-bottom: 75px;
}
.sec2{
  padding-bottom: 50px;
  padding-left: 30px;
}
.sec h1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.btn2{
  background-color: white;
  color: black;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.btn2 a{
  color: black;
}
.btn2 a:link{
  text-decoration: none;
  
}
.btn2 a:hover{
  background-color: whitesmoke;
  
}
.btn2:hover{
background-color: whitesmoke;  
}
 .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding-left: 90px;
    justify-content: center;
    
  }
  .product-card-img{
    height: 200px;
    width: 240px;
  }
  
  .product-grid {
   
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding-left: 90px;
    justify-content: center;
    
  }
  
  .product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    width: 240px;
  }
  
  .product-card:hover {
    transform: scale(1.02);
  }
  
  
  
  .product-card .card-body {
    padding: 15px;
    text-align: center;
  }
  
  .product-card .card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .product-card .card-text {
    font-size: 1rem;
    color: #555;
  }
  
  .stock {
    font-size: 0.9rem;
    color: #4CAF50;
    margin-bottom: 10px;
  }
  
  .but {
    margin-top: 10px;
    background-color:  grey;
    color: aliceblue;
    padding-right: 40px;
    padding-left: 40px;
  }
  .detail-button{
    margin-top: 10px;
    background-color:  grey;
    font-size: 20px;
    color: aliceblue;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 140px;
    padding-left: 140px;
  }#detail{
    margin-bottom: 150px;
   }
   .honey{
    padding-right: 30px;
  }
  .honey h5{
    text-align: center;
    font-size: 27px;
    color: grey;
  }
  .honey h1{
    text-align: center;
    color: grey;
    font-size: 60px;
  }
  .honey p{
    text-align: center;
    font-size: 17px;
    color: grey;
  }
  aside{
    padding: 15px;
  }
  aside h3{
   text-align: center;
    padding-top: 40px;
  }
  aside p{
    text-align: center;
    font-size: 17px;
  }
  .container2{
    display: grid;
   grid-template-columns: repeat(3, 1fr) ;
    gap: 30px;
    padding: 10px;
    justify-content: center;
   align-items: center;
   max-width: 1000px;
   margin: 0px auto;
   text-align: center;
   padding-top: 60px;
}
  
  
  


@media (max-width: 768px) {
    .section h1{
        text-align: center;
        font-size: 40px;
    }
.section .butt{
        text-align: center;
    }
    #price{
      padding-left: 8px;
      margin-left: -11px;
      }
      #con{
        padding-left: 8px;
        margin-left: 28px;
      }

    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        padding-right: 20px;
        padding-left: 30px;
        padding: 80px;
        gap: 15px ;
      }
      .product-card {
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.3s ease;
        width: 180px;
        display: flex;
      justify-content: center; 
      align-items: center;
      }
  
    .product-card .card-body {
      padding: 10px;
    }
  
    .product-card .card-title {
      font-size: 1rem;
    }
  
    .product-card .card-text {
      font-size: 0.9rem;
    }
    .product-card-img{
      height: 140px;
        width: 180px;
      }
  
    .stock {
      font-size: 0.8rem;
    }
  
    .but {
    
      margin-top: 10px;
      font-size: 14px;
      background-color:  grey;
      color: aliceblue;
      padding-right: 30px;
      padding-left: 30px;
    
    }
}
@media (max-width: 1024px) {
    .product-grid {
      grid-template-columns: repeat(3, 1fr);
      padding-left: 20px;
    }
  }

@media (max-width:560px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 10px;
      }
}
.container2{
    display: grid;
   grid-template-columns: repeat(3, 1fr) ;
    gap: 10px;
    padding: 10px;
    justify-content: center;
   align-items: center;
   max-width: 1000px;
   margin: 0px auto;
   text-align: center;
   padding-top: 60px;
}
@media (max-width:768px) {
    .container2{
       grid-template-columns: repeat(1, 1fr) ;
        gap: 10px;
      text-align: center;
       padding: 10px;
       justify-content: center;
       align-items: center;padding-left: 25px;
    }
    .detail-button{
      margin-top: 10px;
      background-color:  grey;
      font-size: 20px;
      color: aliceblue;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-right: 100px;
      padding-left: 100px;
    }
} 
