 .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding-left: 90px;
    justify-content: center;
    
  }
  .product-card-img{
    height: 200px;
    width: 280px;
  }
  
  .product-grid {
   
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding-left: 90px;
    justify-content: center;
    
  }
  
  .product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    width: 280px;
  }
  
  .product-card:hover {
    transform: scale(1.02);
  }
  
  
  
  .product-card .card-body {
    padding: 15px;
    text-align: center;
  }
  
  .product-card .card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .product-card .card-text {
    font-size: 1rem;
    color: #555;
  }
  
  .stock {
    font-size: 0.9rem;
    color: #4CAF50;
    margin-bottom: 10px;
  }
  
  .but {
    margin-top: 10px;
  }

@media (max-width: 768px) {
    .section h1{
        text-align: center;
        font-size: 40px;
    }
.section .butt{
        text-align: center;
    }

    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        padding-right: 20px;
        padding-left: 30px;
        padding: 80px;
        gap: 15px ;
      }
      .product-card {
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.3s ease;
        width: 180px;
        display: flex;
      justify-content: center; 
      align-items: center;
      }
  
    .product-card .card-body {
      padding: 10px;
    }
  
    .product-card .card-title {
      font-size: 1rem;
    }
  
    .product-card .card-text {
      font-size: 0.9rem;
    }
    .product-card-img{
      height: 140px;
        width: 180px;
      }
  
    .stock {
      font-size: 0.8rem;
    }
  
    .but {
    
      font-size: 10px; 
    padding: 10px 80px; 
    border-radius: 5px; 
    color: white;
    text-align: center; 
    white-space: nowrap; 
    display: inline-block; 
    cursor: pointer;
    text-decoration: none; 
  
    
    }
}
@media (max-width: 1024px) {
    .product-grid {
      grid-template-columns: repeat(3, 1fr);
      padding-left: 20px;
    }
  }

@media (max-width:560px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 10px;
      }
}
.container2{
    display: grid;
   grid-template-columns: repeat(3, 1fr) ;
    gap: 10px;
    padding: 10px;
    justify-content: center;
   align-items: center;
   max-width: 1000px;
   margin: 0px auto;
   text-align: center;
   padding-top: 60px;
}
@media (max-width:768px) {
    .container2{
       grid-template-columns: repeat(1, 1fr) ;
        gap: 10px;
      text-align: center;
       padding: 10px;
       justify-content: center;
       align-items: center;padding-left: 25px;
    }
} 
