.cont{
    background-color: white;
    text-decoration-color: white;
  /* padding-top: 20px; */
     /* padding-top: -70px; */
  }
  .head2{
    font-weight: 700;
  }
  .head2:hover{
    color: blue;
  }
  .login-btn{
    background-color:  grey;
    color: aliceblue;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 50px;
    padding-left: 50px;
  }
  
.menu, .close {
    cursor: pointer;
    font-size: 40px;
    color: #333; 
}
.fa-solid  {
    font-size: 18px;
    padding-right: 10px;
  }
  .fa-solid:hover{
    color: blue;
  }
  #user{
    padding-top: 8px;
    font-size: 35px;
    padding-left: 20px;
  }
  #user:hover{
    text-decoration: none;
    color: blue;
  }
  .btn:hover{
    text-decoration: none;
  }
  .drop2{
    font-size: 13px;
  }
  .drop2:hover{
    text-decoration: none;
    color: blue;
  }
.cart {
    margin-left: 20px;
    margin-top: 20px;
    position: relative; 
}
.faue{
  padding-top: 7px;
}
.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.item-count {
    font-size: 10px;
    color: white;
    background: red; 
    border-radius: 50%;
    padding: 5px 10px;
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (min-width: 992px) {
    .menu {
        display: none; 
    }
}

@media (max-width: 768px) {
    .cart {
        margin-left: 10px; 
        margin-top: 10px;
        margin-left: -90px;
    }
    
    .item-count {
        font-size: 12px; 
        padding: 3px 6px; 
        top: -5px; 
        right: -5px; 
        padding-left: -90px;
    }
    .head{
        padding-left: 150px;
      }
    
    .menu {
        margin-left: -530px; 
    }
    
    
}

@media (max-width: 576px) {
    .menu, .close {
        font-size: 30px; 
    }
    
    .cart {
        margin-left: 5px; 
    }
    
    .item-count {
        font-size: 10px; 
        padding: 2px 4px; 
        top: 0; 
        right: 0; 
    }
}
