.grid {
    display: grid;
   grid-template-columns: repeat(3, 1fr);
    gap: 78px;
    padding: 28px;
    justify-content: center;
    align-items: center;
}

footer{
    max-width: 1000px;
    margin: 0px auto;
    justify-content: center;
    padding: 30px;
}

@media (max-width:768px) {
   .grid {
        grid-template-columns: repeat(1, 1fr);
        border: none;
    }
    
}