*{
  margin: 0;
  padding: o;
}
/* .btn{
  background-color:  grey;
  color: aliceblue;
  padding-right: 40px;
  padding-left: 40px;
} */

body{
  background-color: whitesmoke  ;
}
span{
  margin-left: 80px;
  cursor: pointer;
  
}





.logo{
  height: 300px;
  width: 350px;
  background-color: rgba(255, 250, 205, 0.541);
  margin-left: 500px;
}
.stock{
  text-align: center;
}








.about{
  padding-bottom: 190px;
  padding-left: 50px;
  padding-right: 50px;
}
.about h1{
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
}.about h3{
  font-size: 18px;
  text-align: center;
}

.admin{
  padding-bottom: 90px;
  padding-top: 70px;
}







